{% extends 'lead-maker/accounts/base.html' %}
{% block content %}
{% load static %}
<header class="admin-header">
  <div class="container">
    <div class="header-two">
      <div class="vsl-logo text-center">
        <a href="{% url 'home:home' %}">
          <img src="{% static 'lead-maker/images/logo.svg' %}" class="img-fluid" alt="Logo" />
        </a>
      </div>
    </div>
  </div>
</header>
<section class="login-sec">
    <div class="register-container">
        <!-- Logo Section -->
        <div class="vsl-logo text-center">
            <a href="{% url 'home:home' %}">
                <img src="{% static 'lead-maker/images/logo-dark.svg' %}" alt="LeadMaker Logo">
            </a>
        </div>

        <!-- Title -->
        <div class="payment-message">
            <h1>Fill your Email linked to your Account</h1>
            <p>After submitting, remember to check your email inbox to finalize your password reset!</p>
        </div>

        <!-- Login Form -->
        <form method="POST" id="login-form" class="form-block">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="email"  style="font-size: 1.8rem; font-weight: 600; color: #344054; margin-bottom: 9px; font-family: 'Plus Jakarta Sans', sans-serif;" >Email address:</label>
                <input type="email" name="email" value="{{ form.email.value|default:'' }}" placeholder="Email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary get-start">Reset Password</button>
        </form>

    </div>
        <script>
    function togglePasswordVisibility(id) {
        const passwordField = document.getElementById(id);
        const isPasswordVisible = passwordField.type === "text";
        passwordField.type = isPasswordVisible ? "password" : "text";
    }
</script>
</section>

{% endblock content %}